nav-dropdown {
  a {
    text-decoration: none;
    color: #FFF
  }

  ul {
    list-style: none;
    padding: 5px 15px;
    line-height: 26px;
    margin-block-start: 7px;
    margin-block-end: 7px;
    font-size: 14px;
    font-weight:normal;
  }

  li {
    padding: 5px;
  }

  li:hover {

    a {
      color: #00AEEF;
    }
  }

  .dropdown-contents {
    background-color: #000;
    position: absolute;
    display: block;
    z-index: 1;
    margin-left: -21px;
    margin-top: 5px;
    text-align: left;
    min-width:173px;
  }

  .dropdown-wrapper {
    height: 2rem;
  }

  .no-bottom:hover {
    border-bottom: 5px solid white;
  }


}
