/* offset-x | offset-y | blur-radius | spread-radius | color */
$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);


body {
  overflow-x: hidden;
}
.body-dataset-lists header .nav-wrapper{
  border-bottom:none;
}
.body-dataset-detail main-app-element {
  margin-top:100px;
}
header {
  background-color: white;
  padding: 0;
  z-index: 1000;
  position: relative;
  margin-bottom: 124px;

  .page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .title {
    font-size: 2rem;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  table {
    width: 100%;
  }

  .logo {
    top: 0;
    z-index: 100;
    margin-left: 40px;
    margin-right: 2rem;
    height: 44px;
    a img {
      height: 100%;
    }
  }
  .hamburger {
    float:right;
    display:none;
    padding:16px;
    background:#1a1a1a;
    position:fixed;
    top:8px;
    right:10px;
    z-index:1;
  }
  .nav-wrapper{
    background-color: white;
    width: 100%;
    float:right;
    padding-bottom:6px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: right;
    border-bottom: 1px solid #e2e0e0;
    box-shadow: $box-shadow;
    height: 124px;
  }

  .nav-wrapper {
    box-shadow: $box-shadow;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-element-container {
    margin-right: 34px;
  }

  .nav-element {
    display: inline-block;
    padding: 10px 16px;
    margin-left:5px;
    font-weight: 600;
    font-size: 16px;
    border: solid white 5px;
    
  }

  // .nav-element:hover {
  //   background-color: black;
  //   color: white;
  //   border: black solid 5px;
  // }

  .highlighted {
    background-color: white;
    color: black;
    border: black solid 5px;
  }

  // .highlighted:hover {
  //   background-color: black;
  //   color: white;
  // }

  .pinned {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
  }

  .purple {
    color:#ea1d76;
  }

  .blue {
    color: #1890ff;
  }

  .rescale {
    -webkit-animation: scale-up 0.2s ease forwards;
            animation: scale-up 0.2s ease forwards;
  }

  .right {
    padding-right: 40px;
    text-align: right;
    min-width: 140px;
  }

  .scale-down {
    -webkit-animation: scale-down 0.2s ease forwards;
            animation: scale-down 0.2s ease forwards;
  }

  .slogan, .slogan a {
    float:right;
    color:#ea1d76;
    font-size:10px;
    font-weight:normal;
  }

  .social {
    text-align: right;
    min-width: 8rem;
    width: 8rem;
    border-right: 2px solid lightgrey;
    padding-right: 20px;
    font-size: 15px;

    a {
      padding: 10px;
    }
  }

  .title {
    width: 90%;
  }

  .top-bar {
    padding: 20px 20px 20px 10px;
  }

  .wrapper {
    padding-top: 10px;
    color: #000;
  }

  @-webkit-keyframes scale-down {
    0% {
      -webkit-transform: scale(1);
      -webkit-transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scale(0.64);
      -webkit-transform-origin: 0% 0%;
    }
  }
  @keyframes scale-down {
    0% {
        transform: scale(1);
        transform-origin: 0% 0%;
    }
    100% {
        transform: scale(0.64);
        transform-origin: 0% 0%;
    }
  }

  @-webkit-keyframes scale-up {
    0% {
      -webkit-transform: scale(0.64);
      -webkit-transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scale(1);
      -webkit-transform-origin: 0% 0%;
    }
  }

  @keyframes scale-up {
    0% {
      transform: scale(0.64);
      transform-origin: 0% 0%;
    }
    100% {
      transform: scale(1);
      transform-origin: 0% 0%;
    }
  }
}
@media only screen and (max-width: 820px) {
  .nav-wrapper.pinned {
    flex-direction: column;
    align-items: center;
    .logo {
      margin-left: 0;
      margin-top: 12px;
    }
    .nav-element-container {
      margin: 0;
    }
  }
}  
// @media only screen and (max-width: 768px) {
//   dataset-list-view {
//     min-width:auto;
//   } 
//   .hamburger {
//     display:block !important;
//   }
//   header .title, .social, .right {
//     display:none;
//   }
//   header .nav-element {
//     display:block;
//     font-size:16px;
//   } 
//   header .nav-wrapper {
//     padding:0px;
//     padding-right:0;
//     padding-bottom:0;
//     width:50%;
//     height:100%;
//     position:fixed;
//     background-color:rgba(26,26,26,1);
//     top:0;
//     right:0px;
//     transition: 1s;
//   }
//   header .nav-element {
//     border:0;
//     color:#fff;
//     font-weight:normal;
//     text-align:left;
//   }
//   header .highlighted {
//     background-color:#1a1a1a;
//   }
//   header .nav-wrapper {
//     display:none;
//   }
//   header .nav-wrapper.open {
//     display:block;
//   }
//   nav-dropdown .dropdown-contents {
//     position:relative !important;
//     z-index: inherit 0 !important;
//     width:100%; 
//     min-width:100%; 
//     margin-top:0 !important;
//     padding-left:20px;
//   } 
//   nav-dropdown .no-bottom:hover {
//     border-bottom: none !important;
//   }
//   nav-dropdown li {
//     line-height:1.2
// }
//   // header .nav-element:hover {
//   //   background-color: #1a1a1a;
//   //   color: white;
//   //   border: none;
//   // }
// }    
//     @media only screen and (max-width: 600px) {
//       main-app-element {
//         margin-top:60px;
//       }
//       header {
//         box-shadow: 0 6px 7px 0 rgba(0,0,0,.25);
//         top:0px;
//         height:60px;
//         width:100%;
//         margin-bottom:10px;
//         position:fixed;
//       }
//       header .wrapper {
//         margin:0px;
//         background:#ffffff;
//       }
//       .hamburger {
//         display:block !important;
//       }
//       header .logo {
//         margin-left:16px;
//       }
//       header .logo img{
//         height:60px;
//       }
//       header .scale-down {
//       animation:none;
//       }
//       header .rescale {
//         animation:none;
//         }
//       header .title, .social, .right {
//         display:none;
//       }
//       header .nav-element {
//         display:block;
//         font-size:16px;
//       } 
//       header .nav-wrapper {
//         padding:0px;
//         padding-right:0;
//         padding-bottom:0;
//         width:50%;
//         height:100%;
//         position:fixed;
//         background-color:rgba(26,26,26,1);
//         top:0;
//         right:0px;
//         transition: 1s;
//         display:none;
//       }
//       header .nav-element {
//         border:0;
//         color:#fff;
//         font-weight:normal;
//         text-align:left;
//       }
//       header .highlighted {
//         background-color:#1a1a1a;
//       }

//       header .nav-wrapper.open {
//         display:block;
//       }
//       nav-dropdown .dropdown-contents {
//         position:relative !important;
//         z-index: inherit 0 !important;
//         width:100%; 
//         min-width:100%; 
//         margin-top:0 !important;
//         padding-left:20px;
//       } 
//       nav-dropdown .no-bottom:hover {
//         border-bottom: none !important;
//       }
//       nav-dropdown li {
//         line-height:1.2
//     }
//       // header .nav-element:hover {
//       //   background-color: #1a1a1a;
//       //   color: white;
//       //   border: none;
//       // }
// } 