about-dropdown {
  a {
    text-decoration: none;
    color: #000
  }

  ul {
    list-style: none;
    padding: 5px;
    line-height: 26px;
    margin-block-start: 7px;
    margin-block-end: 7px;
    font-weight: 10;
  }

  li {
    padding: 5px;
  }

  li:hover {
    background-color: #00AEEF;

    a {
      color: #FFF;
    }
  }

  .about-contents {
    background-color: #FFF;
    position: absolute;
    display: block;
    z-index: 1;
    border: 5px solid black;
    margin-left: -15px;
    margin-top: 10px;
    text-align: left;
  }

  .about-wrapper {
    height: 2rem;
  }

  .no-bottom:hover {
    border-bottom: 5px solid white;
  }

  .white-border-hack {
    position: absolute;
    width: 92px;
    background-color: white;
    height: 6px;
    margin-top: -5px;
  }
}
