home-banner{
  .banner-background {
      background-image: url('../../assets/home-banner-background.jpg');
  }

  .banner-overlay {
    display: block;
    margin: 0px auto;
    width: 1140px;
  }


}
