.body-dataset-lists home-banner{
  display:block;
}
.body-dataset-detail home-banner{
  display:none;
}
home-banner{
  .banner-background{
    background-image: url('../../assets/home-banner-background.jpg');
    min-height:160px;
    margin:0px; 
    padding:0px;
}
  .banner-background ul{
      list-style-type:none;
      margin:0px; 
      padding:10px;
      margin:0px auto;
      width:90%;
  }
  .banner-background li {
    float:left;
    display:block;
    width:9%;
    text-align:center;
    padding:20px 4px;
    position:relative;
  }
  .banner-background li img {
    max-width:60%;
    position: relative;
    bottom:0px;

  }
  .banner-background li img.projects {
    max-width:54%;
  }
  .banner-background li img.mobility {
    max-width:80%;
  }
  .banner-background li img.parking {
    max-width:40%;
  }
  .banner-background li img.environment {
    max-width:66%;
  }
  .banner-background li img.energy {
    max-width:36%;
  }
  .banner-background li img.health {
    max-width:67%;
  }
  .banner-background li img.food {
    max-width:61%;
  }
  .banner-background li img.browse {
    margin-top:36px;
    max-height:80%;
    max-width:80%;
  }
  .banner-background li img.viz {
    max-width:67%;
  }
  .banner-background li img.map {
    max-width:67%;
  }
  .banner-overlay {
    display: block;
    margin: 0px auto;
    width: 100%;
  }
}
@media only screen and (max-width: 1280px) {
  home-banner{
    .banner-background ul{
    width:90%;
    }
    .banner-background{ 
      min-height:140px;
    }  
}
}
@media only screen and (max-width: 1000px) {
  home-banner{
    .banner-background ul{
    width:100%;
    }
    .banner-background{ 
      min-height:120px;
    } 
  } 
}
@media only screen and (max-width: 768px) {
  .body-dataset-lists home-banner {
   display:none;
  }
} 
